
#ContactItemView[istate=selected] {
    background: #38A3D8;
}
#ContactItemView[istate=hover] {
    background: #c8c8c8;
}
#MainWindow,#ContactItemView[istate=default] {
    background: white;
}
#LabelMsgCount,#LabelMsgCount2,#LabelMsgTime,#LabelLastMsgTime {
    color: #a4a4a4;
}
#LabelUserName4MessageItem {
    color: #a4a4a4;
}
QWidget#Widget {
    background-color: #d6dde3;
    border-style: solid;
}
QToolButtoncc,QLineEdit,QScrollArea,QListWidget,QTextBrowser {
    background: transparent;
    border: 0px;
}
QMenu {
    background-color: white;
    border: 1px solid black;
}
QMenu::item:selected {
    background-color: #5294e2;
    color: white;
}
QMenu::item:disabled {
    color: #646464;
}
QScrollBar {
    border: 0px;
    width: 10px;
    margin: 0px 0 0px 0;
    background: #efefef;
}
QScrollBar::handle{
    background: #ccc;
}
QScrollBar::add-line,QScrollBar::sub-line{
    height: 0px;
    width: 0px;
}
#ScrollAreaWidgetContents > *,#ScrollAreaWidgetContents_2 > *, #ScrollAreaWidgetContents_3 > *  {
    background: white;
}

QComboBox QAbstractItemView {
    background: white;
}
QComboBox {
    margin: 0px 0 0px 0;
}

QDialog {
    background: white;
}

#Dialog > #LineEdit {
    background: white;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}
