<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
        <title>toxhs - golang</title>
        <!-- import CSS -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    </head>
    <body>
        <div id="app">
            <el-row :gutter="20">
                <el-col :span="1"><div class="grid-content bg-purple">&nbsp;</div></el-col>
                <el-col :span="3"><div class="grid-content bg-purple">{{ UserName }}</div></el-col>
                <el-col :span="8"><div class="grid-content bg-purple">{{ UserStatusMessage }}</div></el-col>
                <el-col :span="3"><div class="grid-content bg-purple">{{ ToxhsHost }}</div></el-col>
                <el-col :span="3"><div class="grid-content bg-purple">连接： {{ ConnState }}</div></el-col>
            </el-row>

            <el-container>
                <el-main>Events and Messages:<br/>
                    <textarea cols="120" rows="23">{{ EventLines }}</textarea></el-main>
                <el-footer>
                    <el-row :gutter="20">
                        <el-col :span="2"><div class="grid-content bg-purple">Contacts:</div></el-col>
                        <el-col :span="5"><div class="grid-content bg-purple">
                            <template>
                        <el-select v-model="value" placeholder="请选择">
                            <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                            </template>
                        </div></el-col>
                        <el-col :span="3"><div class="grid-content bg-purple">
                            <el-input v-model="input" placeholder=""></el-input></div></el-col>
                    </el-row>
                </el-footer>
            </el-container>
            <el-container>
                <el-footer>
                    <el-row :gutter="20">
                        <el-col :span="1"><div class="grid-content bg-purple">Input:</div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-input v-model="input" placeholder="请输入内容"></el-input></div></el-col>
                        <el-col :span="2"><div class="grid-content bg-purple">
                            <el-button>发送消息</el-button>
                        </div></el-col>
                    </el-row>
                </el-footer>
            </el-container>
        </div>
    </body>

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script>
     var wsc = null;
     var app0 = new Vue({
         el: '#app',
         data: function() {
             return {
                 visible: false,
                 UserName: "Tox User",
                 UserStatusMessage: "-------",
                 ToxhsHost: "127.0.0.1:8089",
                 EventLines: "",
                 ConnState: "Gone",
             }
         },
         mounted:function(){
             this.method1() //method1 will execute at pageload
         },
         methods:{
             method1:function(){
                 /* your logic */
                 console.log("hhhhhhhhh"+wsc);
                 wsc = new WebSocket('ws://wip.duckdns.org:8089/toxhs', 'toxhs');

                 wsc.addEventListener("open", function(event) {
                     //  close.disabled = false;
                     //  send.disabled = false;
                     // status.textContent = "Connected";
                     app0.ConnState = "None";
                     console.log("Connected");
                 });

                 // Display messages received from the server
                 wsc.addEventListener("message", function(event) {
                     // message.textContent = "Server Says: " + event.data;
                     console.log("Server Says: " + event.data);
                     app0.EventLines += event.data+"\n";
                 });

                 // Display any errors that occur
                 wsc.addEventListener("error", function(event) {
                     //  message.textContent = "Error: " + event;
                     console.log("Error: " + event.data);
                 });

                 wsc.addEventListener("close", function(event) {
                     // open.disabled = false;
                     // status.textContent = "Not Connected";
                     app0.ConnState = "Gone";
                     console.log("closed");
                 });
             },
         },
     })
    </script>
</html>
