<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
        <title>toxhs - go</title>
        <!-- import CSS -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    </head>
    <body>
        <div id="app">
            <el-row :gutter="20">
                <el-col :span="1"><div class="grid-content bg-purple">&nbsp;</div></el-col>
                <el-col :span="3"><div class="grid-content bg-purple">{{ UserName }}</div></el-col>
                <el-col :span="8"><div class="grid-content bg-purple">{{ StatusMessage }}</div></el-col>
                <el-col :span="3"><div class="grid-content bg-purple">{{ ToxhsHost }}</div></el-col>
                <el-col :span="3"><div class="grid-content bg-purple">Network： {{ ConnState }}</div></el-col>
            </el-row>

            <el-container>
                <el-main>Events and Messages:<br/>
                    <textarea cols="120" rows="23">{{ EventLines }}</textarea></el-main>
                <el-footer>
                    <el-row :gutter="20">
                        <el-col :span="2"><div class="grid-content bg-purple">Contacts:</div></el-col>
                        <el-col :span="5"><div class="grid-content bg-purple">
                            <template>
                        <el-select v-model="CurrentContact" placeholder="Choose">
                            <el-option
                                v-for="item in Contacts"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                            </template>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content bg-purple">
                            <el-input v-model="CurrentContact" placeholder=""></el-input></div></el-col>
                    </el-row>
                </el-footer>
            </el-container>
            <el-container>
                <el-footer>
                    <el-row :gutter="20">
                        <el-col :span="1"><div class="grid-content bg-purple">Input:</div></el-col>
                        <el-col :span="16"><div class="grid-content bg-purple">
                            <el-input v-model="InputText" placeholder="Input Text..."></el-input></div></el-col>
                        <el-col :span="2"><div class="grid-content bg-purple">
                            <el-button v-on:click="SendMessage">Send Message</el-button>
                        </div></el-col>
                    </el-row>
                </el-footer>
            </el-container>
        </div>
    </body>

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <script>
     var wsc4rpc = null;
     var wsc4push = null;
     // TODO querystring as host: ?server=ip:port
     var addrp = "ws://" + window.location.host; // path: /toxhsrpc or /toxhspush
     var app0 = new Vue({
         el: '#app',
         data: function() {
             return {
                 visible: false,
                 UserName: "Tox User",
                 StatusMessage: "-------",
                 ToxhsHost: window.location.host, // "127.0.0.1:8099",
                 EventLines: "",
                 ConnState: "Gone",
                 CurrentContact: '',
                 // {'value':'hehhe', 'label':'hehehhe','pnum':5, 'isgroup':false}
                 Contacts: [],
                 InputText: '',
             }
         },
         mounted:function(){
             this.method1(); //method1 will execute at pageload
             this.method2();
         },
         methods:{
             method1:function(){
                 /* your logic */
                 console.log("hhhhhhhhh"+wsc4push);
                 wsc4push = new WebSocket(addrp+'/toxhspush', 'toxhs');

                 wsc4push.addEventListener("open", function(event) {
                     app0.ConnState = "None";
                     console.log("Connected push");
                 });

                 // Display messages received from the server
                 wsc4push.addEventListener("message", function(event) {
                     // console.log("Server Says: " + event.data);
                     // app0.EventLines += event.data+"\n";
                     processRpcResponse(event.data);
                 });

                 // Display any errors that occur
                 wsc4push.addEventListener("error", function(event) {
                     console.log("Error push: " + event.data);
                 });

                 wsc4push.addEventListener("close", function(event) {
                     app0.ConnState = "Gone";
                     console.log("closed push");
                 });
             },
             method2:function(){
                 /* your logic */
                 console.log("hhhhhhhhh"+wsc4rpc);
                 wsc4rpc = new WebSocket(addrp+'/toxhsrpc', 'toxhs');

                 wsc4rpc.addEventListener("open", function(event) {
                     app0.ConnState = "None";
                     console.log("Connected rpc");
                     req = {'Name': 'GetBaseInfo'};
                     wsc4rpc.send(JSON.stringify(req));
                 });

                 // Display messages received from the server
                 wsc4rpc.addEventListener("message", function(event) {
                     // console.log("Server Says: " + event.data);
                     // app0.EventLines += event.data+"\n";
                     processRpcResponse(event.data);
                 });

                 // Display any errors that occur
                 wsc4rpc.addEventListener("error", function(event) {
                     console.log("Error rpc: " + event.data);
                 });

                 wsc4rpc.addEventListener("close", function(event) {
                     app0.ConnState = "Gone";
                     console.log("closed rpc");
                 });
             },
             SendMessage: function(){
                 console.log(app0.CurrentContact);
                 ct = findContact(app0.CurrentContact);
                 console.log(ct);
                 if (ct.isgroup) {
                     req = {'name': 'ConferenceSendMessage', 'args': [''+ct.pnum, '0', app0.InputText, ct.value]}
                     wsc4rpc.send(JSON.stringify(req));
                 } else {
                     req = {'name': 'FriendSendMessage', 'args': [''+ct.pnum, app0.InputText, ct.value]}
                     wsc4rpc.send(JSON.stringify(req));
                 }
                 var line = 'me -> ' + ct.label + ': ' + app0.InputText;
                 // appendOutput(line);
                 app0.InputText = '';
             },
         },
     })

     function appendOutput(line){
         nowt = '';
         nowt = new Date();
         nowts = nowt.getHours() + ':' + nowt.getMinutes() + ':'+ nowt.getSeconds();
         app0.EventLines += nowts + ' ' + line + "\n";
     }
     function findContact(id) {
         for (var i = 0; i < app0.Contacts.length; i++) {
             item = app0.Contacts[i];
             if (item.value == id) {
                 return item;
             }
         }
         return null;
     }
     function putContact(name, id, peernum, isgroup) {
         found = findContact(id) != null;
         console.log(name,id,isgroup,found);
         if (!found) {
             app0.Contacts.push({'value': id, 'label': name, 'pnum': peernum, 'isgroup': isgroup});
         }
         app0.CurrentContact = id;
     }
     function popContact(name, id){
     }
     function processRpcResponse(data) {
         jso = JSON.parse(data);
         if (jso.name == "GetBaseInfoResp") {
             appendOutput('GetBaseInfo done');
             binfo = JSON.parse(jso.args[0])
             console.log(binfo);
             app0.ConnState = binfo.connStatus > 0 ? 'OK':'None';
             app0.UserName = binfo.name;
             app0.StatusMessage = binfo.stmsg;
             friends = binfo.friends;
             keys = Object.keys(friends);
             for (var i = 0; i < keys.length; i ++) {
                 friend = friends[keys[i]];
                 putContact(friend.name, friend.pubkey, friend.fnum, false);
             }
             groups = binfo.groups;
             keys = Object.keys(groups);
             for (var i = 0; i < keys.length; i +=1) {
             }
             for (var i = 0; i < keys.length; i +=1) {
                 group = groups[keys[i]];
                 putContact(group.title, group.groupId, group.gnum, true);
             }
         } else if (jso.name == "FriendSendMessageResp") {
         } else if (jso.name == "ConferenceSendMessageResp") {
         } else if (jso.name == "FriendMessage") {
             var line = jso.margs[0]+": " + jso.args[1];
             appendOutput(line);
         } else if (jso.name == "ConferenceMessage") {
             var line = jso.margs[2]+"'s "+jso.margs[0] + ": " + jso.args[3];
             appendOutput(line);
             putContact(jso.margs[2], jso.margs[3], jso.args[0], true);
         } else if (jso.name == "ConferenceTitle") {
             var line = jso.name + " change to " + jso.args[2] + " by " + jso.margs[1];
             appendOutput(line);
             putContact(jso.args[2], jso.margs[2], jso.args[0], true);
         } else if (jso.name == "ConferencePeerName") {
             var line = jso.args[2] + " joined in " + jso.margs[2];
             appendOutput(line);
         } else if (jso.name == "SelfConnectionStatus") {
             var line = jso.name + " " + jso.margs[0];
             appendOutput(line);
         } else if (jso.name == "FriendConnectionStatus") {
             var line = jso.name + " " + jso.margs[0] + " " + jso.margs[2];
             appendOutput(line);
         } else if (jso.name == "ConferenceInvite") {
             var line = jso.name + " to ??? " + " by " + jso.margs[0];
             appendOutput(line);
         } else if (jso.name == "ConferencePeerListChange") { // TODO leave???
         } else if (jso.name == "FriendSendMessage") {
             var line = "me -> " + jso.margs[0] + ": " + jso.args[1];
             appendOutput(line);
         } else if (jso.name == "ConferenceSendMessage") {
             var line = "me -> " + jso.margs[0] + ": " + jso.args[2];
             appendOutput(line);
         } else {
             appendOutput(data);
         }
     }
    </script>
</html>
